@model  Recipe
@{ 
    Layout = "_BasicLayout";
    ViewBag.Title = "View Recipe";

}
<!DOCTYPE html>

   <h3>Description of @Model.Name </h3>
    <ul>
       
        <li>@Model.Ingredient</li>
        <li><img src="@Url.Content(@Model.imgInfo)" width="400" height="400" alt="IMAGES" /></li>        
        <li>
            @{
                if (Model != null && Model.CookingSteps != null)
                {
                    foreach (CookingStep item in Model.CookingSteps)
                    {
                        @item.description
                        <br />
                    }
                }
                }
            </li>
    </ul>


           
    <a asp-action="RecipeList">Click</a> here to back to Recipe List.

