@model IEnumerable<Recipe>
@{
    ViewBag.Title = "All Recipes";
    Layout = "_AdminLayout";
}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>

            <td>
                <a asp-action="ViewRecipe"
                   asp-controller="Home"
                   asp-route-recipeId="@item.Id">
                    @item.Name
                </a>
            </td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="recipeId" value="@item.Id" />
                    <a asp-action="Edit" asp-route-recipeId="@item.Id">
                        Edit
                    </a>                                            
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="AddRecipe">Add Recipe</a>
</div>

